name: Preprocessing Dataset

on:
  push:
    branches: ["main"]
  workflow_dispatch:  # bisa dijalankan manual

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas numpy jupyter notebook

      - name: Run preprocessing script
        run: |
          cd preprocessing
          python automate_Aditya.py

      - name: Upload processed dataset
        uses: actions/upload-artifact@v4
        with:
          name: processed-dataset
          path: preprocessing/aapl.us.txt_preprocessing.csv
